<form [formGroup]="myForm">
    <p>Value: {{ myForm.value | json }}</p>

    <hr>

    <mat-form-field>
        <input matInput placeholder="email" formControlName="email">
    </mat-form-field>

    <mat-form-field>
        <input matInput placeholder="your message..." formControlName="message">
    </mat-form-field>

    <mat-form-field>
        <input matInput placeholder="career" formControlName="career">
    </mat-form-field>

</form>