<form [formGroup]="myForm">

    <p>Value: {{ myForm.value | json }}</p>    

    <hr>

    <mat-form-field class="full">
        <input matInput placeholder="email" formControlName="email">
    </mat-form-field>

    <h4>Cell Phone</h4>

    <div formGroupName="cellPhone">

        <mat-form-field>
            <input matInput placeholder="area" formControlName="area">
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="prefix" formControlName="prefix">
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="line" formControlName="line">
        </mat-form-field>

    </div>

    <h4>Home Phone</h4>

    <div formGroupName="homePhone">

        <mat-form-field>
            <input matInput placeholder="area" formControlName="area">
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="prefix" formControlName="prefix">
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="line" formControlName="line">
        </mat-form-field>

    </div>


</form>